* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 100%;
  gap: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.username,
.time,
.day,
.email {
  font-size: 1.8rem;
  font-weight: 700;
  color: #222831;
  cursor: pointer;
}

.username span,
.time span,
.day span,
.email span {
  color: #f05454;
  position: relative;
  display: inline-block;
}

.username span::after,
.time span::after,
.day span::after,
.email span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #222831;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.username span:hover::after,
.time span:hover::after,
.day span:hover::after,
.email span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.useful-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
}

.link-list {
  margin-left: 3rem;
}

li {
  font-size: 0.8rem;
  font-weight: 700;
  color: #222831;
}

a {
  text-decoration: none;
  color: #f05454;
}

.card-container-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #222831;
}

.achievement-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.card {
  width: 100%;
  padding: 1rem;
  background-color: #a0aec0;
  border: 1px solid #e2e8f0;
  color: #eeeeee;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #eeeeee;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 1rem;
  color: #4a5568;
  margin-bottom: 1rem;
}

.card-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #4a5568;
  color: #ffffff;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.card-link:hover {
  background-color: #2d3748;
}

.card-link-apple,
.card-link-google {
  background-color: #333333;
}

.card-icon {
  width: 2rem;
  height: 2rem;
  fill: #ffffff;
  margin-right: 0.5rem;
}

.card-text {
  text-align: left;
}

.card-subtitle {
  font-size: 0.75rem;
  color: #a0aec0;
}

.card-platform {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222831;
  color: #f05454;
}

.hng-link {
  color: #e2e8f0;
}

@media only screen and (max-width: 1200px) {
  .content {
    gap: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    margin: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .achievement-cards {
    margin: 0 1rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
}
